.contact-form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.contact-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
}

.contact-form-container label {
    margin-bottom: 10px;
    color: #333;
}

.contact-form-container input[type="email"],
.contact-form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form-container textarea {
    resize: vertical;
    min-height: 100px;
}

.contact-form-container button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contact-form-container button:hover {
    background-color: #0056b3;
}

.message {
    text-align: center;
    font-size: 16px;
    color: green;
    margin-bottom: 20px;
}
