.loueur-tab-container {
    padding: 20px;
}

.immobilier-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 20px;
}

.documents-container {
    margin-top: 20px;
}

.documents-container h3 {
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.document-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacement entre les cartes */
}

.document-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(33.333% - 40px); /* 3 cartes par ligne */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.document-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.document-card p {
    margin: 5px 0;
    color: #555;
}

.document-card button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-end;
}

.document-card button:hover {
    background-color: #444;
}
